.middleAlign{
  width: 800px;
  margin: 10px auto;
  padding: 5px;
}

.textArea{
  margin-bottom: 5px;
  width: 100%;
  height: 150px;
  display: block;
}

.statusSelection{
  display: inline-block;
  width: 100px;
  text-align: center;
}

.comment{
  margin-top: 10px;
}
