@import '../themes/ice/theme.css';

.dropdown{
  display: inline;
  position: relative;
  font-size: 0px;
  margin: 0px 5px;
}

.option{
  padding: 3px;
  border-bottom: 1px var(--primary) solid;
  cursor: pointer;
}

.option--selected{
  background-color: var(--primary);
  color: --compliment;
}

.optionsContainer{
  display: none;
  background-color: var(--compliment);
  border: 1px var(--primary) solid;
  font-size: 16px;
  box-shadow: 1px 1px 0px 0px var(--accent);
}

.optionsContainer--open{
  display: block;
  position: absolute;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: left;
  left: 0px;
  right: 0px;
}

.button{
  font-size: 16px;
  border: 1px solid var(--accent);
  cursor: pointer;
  display: inline;
  color: var(--accent);
  text-transform: var(--upper);
  font-family: var(--font);
  padding: 0px 15px;
  white-space: nowrap;
  padding-top: 4px;
  background-color: var(--compliment);
}

.button:hover{
  box-shadow: 1px 1px 0px 0px color(var(--accent) blackness(10%));
}

.button::after{
  content: '▽';
  display: inline;
  padding-left: 3px;
  font-size: 70%;
}

.button--open::after{
  content: '△';
  display: inline;
  padding-left: 3px;
  font-size: 70%;
}
